/*
font rules

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

*/

body {
  color: #fbfbfb;
  background-color: #f4c5a3;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

main a {
  background-color: #683714;
  color: white;
  padding: 2px 4px;
  margin: 2px 0;
  line-height: 1;
  border-radius: 2px;
  /*display: inline-block;*/
  text-decoration: none;
  transition: all 0.5s;
  font-family: "Courier New", monospace;
  /*font-weight: 600;*/
  box-decoration-break: clone;

  &:hover,
  &:active {
    color: white;
    background-color: black;
  }
}

hr {
  color: white;
  /*margin-inline: 1rem;*/
  margin-block-start: 1rem;
  border-width: 0;
  block-size: 1px;
  background-color: white;
}

.main-container {
  margin-block-end: 1rem;
  background-color: white;
  color: #111;
  padding: 2rem;
  /*margin: 1rem;*/
  border-radius: 1rem 0 1rem 0;
  line-height: 1.5;

  img {
    max-width: 100%;
  }

  li {
    margin-block-end: 0.5rem;
  }

  li a {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
  }
}

.container {
  margin-block: 0.5rem;
  max-inline-size: 980px;
  border-radius: 1rem 0 1rem 0;
  margin-inline: auto;
  padding-block-end: 0.1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
}

header {
  background: linear-gradient(
    90deg,
    white 0%,
    #f4c5a3 40%,
    #f4c5a3 50%,
    white 100%
  );

  border-radius: 1rem 0 1rem 0;
  /*border-block-end: .25rem solid rgba(0,0,0,0);*/

  &.page {
    /*margin-inline-start: 1rem;*/
    position: relative;
    top: 0.5rem;
    letter-spacing: -1px;
    font-size: 2rem;
    color: #111;
    text-shadow: 0 1px 1px #111;
  }
  &.page ul a {
    color: #111;
    /*margin-block-start: 1rem;*/
    margin-inline-start: 1rem;
    font-size: 1.3rem;
    border-radius: 2rem;

    &:hover,
    &:focus {
      color: black;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    }
    &:active {
      color: rgba(255, 255, 255, 0.1);
    }
  }
  &.page a span {
    color: #111;
    margin-block-start: 1.25rem;
    margin-inline-start: 1rem;
    font-size: 1.2rem;
    color: #c16929;
    /*background-color: rgba(255,255,255,.5);*/
    padding: 0.25rem 1rem;
    border-radius: 2rem;
    text-shadow: 0 1px 1px white;
    font-weight: 500;
    /*background-color: rgba(255,255,255,.25);
    box-shadow: 0 0 3px white;*/
  }
  strong {
    font-weight: inherit;
    color: black;
    font-weight: 300;
    letter-spacing: -2px;
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    background-color: transparent;
    color: #111;
    text-shadow: 0 1px 1px white;
  }
}

footer {
  background: linear-gradient(
    90deg,
    black 0%,
    #f4c5a3 40%,
    #f4c5a3 50%,
    black 100%
  );
  border-radius: 1rem 0 1rem 0;
  padding: 1rem 1rem 0;
  margin-block-end: 1rem;
  font-size: 0.8rem;
}

footer hr {
  color: white;
  /*margin-inline: 1rem;*/
  margin-block: 0;
  border-width: 0;
  block-size: 1px;
  background-color: rgba(0, 0, 0, 1);
}

footer h1 {
  font-size: 1rem;
}

footer {
  p {
    text-align: center;
  }

  a {
    color: black;
  }
}

footer.page {
  text-align: right;
}

footer p:last-child {
  margin-block-end: 1rem;
  /*background-color: black;*/
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: black;
}

footer hr {
  color: white;
}

footer a {
  color: #f4c5a3;
  font-weight: 600;
  text-decoration: none;
  transition: 1s all;

  &:hover,
  &:active,
  &:focus {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.5);
  }

  &.active {
    background-color: white;
    color: black;
    padding: 0 2px;
  }
}

footer p:last-child a:nth-child(1) {
  background-color: black;
  background-color: black;
  color: #f4c5a3;
}

footer p span {
  background-color: white;
  border-radius: 2px;
  padding: 3px;
  display: inline-block;
}

footer p a {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 2px;
  border-radius: 2px;
}

.logo img {
  max-block-size: 75px;
  margin-inline: 1rem;
  margin-block-start: 1rem;
  background: white;
  padding: 1rem;
  border-radius: 37px;
  box-shadow: 0 1px 0 white;
}

.nav.nav-pills {
  margin-block-start: 1rem;
}

main h2 {
  font-size: 1.5rem;
  margin-block: 1rem;
  letter-spacing: 2px;
  display: inline-block;
  font-weight: 900;
}

main h3 {
  font-size: 1.2rem;
  margin-block: 1rem;
  letter-spacing: 1px;
  display: inline-block;
  font-weight: 900;
}

main p:last-child {
  margin-block-end: 0;
}

main img.preview {
  margin: 0 1rem 0 0;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  padding: 10px;
  display: block;
}

.nav-link {
  background-color: rgba(255, 255, 255, 1) !important;
  margin-block-end: 0.5rem;
  transition: all 0.5s;

  &.active {
    background-color: #c16929 !important;
    color: white !important;
  }

  &:hover,
  &:active {
    background-color: black !important;
    color: white !important;
  }
}

ol {
  font-family: "Courier New", monospace;

  a.mono {
    font-family: "Courier New", monospace;
  }

  &:after {
    content: "...";
    font-weight: 500;
    display: block;
  }
}

.mono {
  font-family: "Courier New", monospace;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

code {
  display: inline;
}

@media (max-width: 800px) {
  main img.preview {
    margin-inline: auto;
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 650px) {
  .grid > div {
    &:first-child {
      grid-row: 2;
    }
    &:last-child {
      grid-row: 1;
    }
  }
  header {
    text-align: center;
  }
  .d-flex,
  header.logo {
    display: block !important;
  }
  header.page a span {
    display: block;
  }
  .grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 1rem;
  }
}

@media (max-width: 540px) {
  footer p span,
  footer p a {
    width: 100%;
  }
  footer p a {
    display: block;
  }
}
